::selection{
  background-color:#FF6D03 ;
}
.navbar-light .navbar-nav .nav-link {
  color: #FF6D03;
  font-weight: 500;
  font-family: cursive;
  padding-left: 30px;
}
.navbar-light .navbar-brand {
  color: #FF6D03;
  font-size: 36px;
  font-family: cursive;
  font-weight: 900;
}
.navbar-light .navbar-brand:hover {
  color: #FF6D03;
  font-size: 36px;
  font-family: cursive;
  font-weight: 900;
}
.hero-section{

}
.hero-content h2 {
  padding-top: 178px;
  font-size: 42px;
}