::selection{
  background-color:#FF6D03 ;
}
.navbar-light .navbar-nav .nav-link {
  color: #FF6D03;
  font-weight: 500;
  font-family: cursive;
  padding-left: 30px;
}
.navbar-light .navbar-brand {
  color: #FF6D03;
  font-size: 36px;
  font-family: cursive;
  font-weight: 900;
}
.navbar-light .navbar-brand:hover {
  color: #FF6D03;
  font-size: 36px;
  font-family: cursive;
  font-weight: 900;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
.hero-section{

}
.hero-content h2 {
  padding-top: 178px;
  font-size: 42px;
}